services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: laravel12
    container_name: laravel12
    restart: always

    environment:
      APP_ENV: production
      APP_DEBUG: true
      APP_URL: https://apps.burhanfs.my.id/laravel12
      ASSET_URL: https://apps.burhanfs.my.id/laravel12

    networks:
      - web

    labels:
      - "traefik.enable=true"

      # ROUTER (WAJIB PathPrefix)
      - "traefik.http.routers.laravel12.rule=Host(`apps.burhanfs.my.id`) && PathPrefix(`/laravel12`)"
      - "traefik.http.routers.laravel12.entrypoints=websecure"
      - "traefik.http.routers.laravel12.tls.certresolver=myresolver"
      - "traefik.http.routers.laravel12.priority=100"

      # MIDDLEWARE
      - "traefik.http.middlewares.laravel12-strip.stripprefix.prefixes=/laravel12"

      - "traefik.http.middlewares.laravel12-proxy.headers.customrequestheaders.X-Forwarded-Prefix=/laravel12"
      - "traefik.http.middlewares.laravel12-proxy.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.middlewares.laravel12-proxy.headers.customrequestheaders.X-Forwarded-Host=apps.burhanfs.my.id"

      - "traefik.http.routers.laravel12.middlewares=laravel12-strip,laravel12-proxy"

      # SERVICE
      - "traefik.http.services.laravel12.loadbalancer.server.port=80"


    volumes:
      - ./:/var/www/html
      - ./apache.conf:/etc/apache2/sites-enabled/000-default.conf

    working_dir: /var/www/html

networks:
  web:
    external: true
